/*
===============================================================================
 This file may contain extra CSS rules loaded on all apps page (*if* the app
 nginx's conf does include the appropriate snippet) for the small YunoHost
 button in bottom-right corner + portal overlay.

 The yunohost button corresponds to : #ynh-overlay-switch
 The yunohost portal overlay / iframe corresponds to : #ynh-overlay

 BE CAREFUL that you should *not* add too-general rules that apply to
 non-yunohost elements (for instance all 'a' or 'p' elements...) as it will
 likely break app's rendering
===============================================================================
*/


#ynh-overlay-switch {
    display: block;
    position: fixed;
    z-index: 10000000;
    bottom: 20px;
    right: 35px;
    width: 100px;
    height: 90px;
    padding: 12px;
    border: 12px solid grey;
        border-top-color: grey;
        border-right-color: grey;
        border-bottom-color: grey;
        border-left-color: grey;
    border-radius: 5px;
    background: grey;
    background-image: url("./Falcon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}

#ynh-overlay-switch:hover {
  border-color: #ccc;
  background-color: #ccc;
}
